section{
    background-color: white;
    
}
div h1{
    margin-top:20PX ;
    font-size: 70px;
    color: #2C3E50;
    }

.line{
    height: 5px;
    width: 80px;
    background-color: #2C3E50;

}
form{
    border: none;
}
input{
    border: none;
    border-bottom:solid 1px grey  ;
}
 
